
.mb-1{

	border:2px solid red;
/*      width: 430px; */
/*     margin: 5px 0; */
    float:left;
	 border-collapse: separate;
  border-spacing: 50px;
	padding-right:1em;
	
}
.mb-2{

	border:2px solid red;
/*      width: 430px; */
/*     margin: 5px 0; */
    float:left;
	 border-collapse: separate;
  border-spacing: 50px;
	padding-right:1em;
}
.mb-3{

	border:2px solid red;
/*      width: 430px; */
/*     margin: 5px 0; */
    float:left;
	 border-collapse: separate;
  border-spacing: 50px;
}
.mb-4{

	border:2px solid red;
/*      width: 430px; */
/*     margin: 5px 0; */
    float:left;
	 border-collapse: separate;
  border-spacing: 50px;
	padding-right:1em;
	
}
.mb-5{

	border:2px solid red;
/*      width: 430px; */
/*     margin: 5px 0; */
    float:left;
	 border-collapse: separate;
  border-spacing: 50px;
	padding-right:1em;
}
.mb-6{

	border:2px solid red;
/*      width: 430px; */
/*     margin: 5px 0; */
    float:left;
	 border-collapse: separate;
  border-spacing: 50px;
	padding-right:1em;
}
.mb-7{

	border:2px solid red;
/*      width: 430px; */
/*     margin: 5px 0; */
    float:left;
	 border-collapse: separate;
  border-spacing: 50px;
}

.shivam{
	border:10px solid green;
/* 	height:300px; */
	display:flex;
	justify-content:center;
}
.jk{
	border:5px solid blue;
	height:300px;
	width:700px;
}
.sk{

	paddingl-left: ;
	text-align: center;
	
}
.form-control{
/* 	width:220px */
}
#inp1{
	width:213px;
}
#inp2{
	width:213px;
}
#inp3{
	width:215px;
}
#inp4{
	width:302px;
}
#inp5{
	width:163px
}
#inp6{
	width:163px
}
.invalid-feedback{
	font-size:12px
/* 	color:pink; */
	
}
.form-check-label{
	font-size:12px
/* 	 color:pink; */
}
.mb-3 form-check{
/* 	color:green; */
}

	
	
	

